:root {
    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;
    --nord4: #D8DEE9;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
}

h2 {
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
}

button,a {
    font-size: 1.2rem;
}

a {
    color: var(--nord9);
}

a:visited {
    color: var(--nord10);
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
    flex-direction: column;
}

header, footer {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nord0);
    color: var(--nord4);
}

#main {
    flex: 8 1 0;
    display: flex;
}

#sidebar {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background-color: var(--nord1);
}

#sidebar button, #content-heading button, .todo button {
    border-radius: 5px;
    background-color: var(--nord0);
    color: var(--nord4);
    border: 2px solid var(--nord4);
    padding: 10px 20px;
}

#sidebar button:active, #content-heading button:active, .todo button:active {
    transform: scale(0.95);
    background-color: color-mix(in srgb, var(--nord0) 90%, black 10%);
}

dialog button:active, dialog input:active {
    transform: scale(0.95);
    background-color: color-mix(in srgb, var(--nord1) 80%, black 10%);
}

#add-buttons {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-bottom: 3px solid var(--nord0);
}

#project-list {
    flex: 8 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 20px;
    gap: 5px;
    border-top: 3px solid var(--nord0);
}

#main-content {
    flex: 9 1 0;
    display: flex;
    flex-direction: column;
    background-color: var(--nord2);
    color: var(--nord4);
}

#content-heading {
    flex: 2 1 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#todo-list {
    flex: 8 1 0;
    display: flex;
    flex-direction: column;
}

.todo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--nord1);
    border: 2px solid var(--nord4);
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 10px;
}

dialog input, dialog button, dialog select, dialog textarea {
    background-color: var(--nord1);
    border: 2px solid var(--nord4);
    color: var(--nord4);
}

#project-modal {
    border: 2px solid var(--nord4);
    background-color: var(--nord0);
    border-radius: 5px;
    color: var(--nord4);
}

#project-modal * {
    font-size: 1.2rem;
}

#project-modal-content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#todo-modal, #edit-modal {
    border: 2px solid var(--nord4);
    background-color: var(--nord0);
    color: var(--nord4);
}

#todo-modal *, #edit-modal * {
    font-size: 1.2rem;
}

#todo-modal-content,#edit-modal-content {
    display: flex;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#todo-form,#edit-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

#todo-form > div,#edit-form > div {
display: flex;
flex-direction: column;
gap: 5px;
justify-content: center;
}

dialog::backdrop {
    opacity: .75;
}